.searchItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.siImg {
  width: 200px;
  height: 400px;
  object-fit: cover;
}

.siDesc, .siDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.siDesc {
  flex: 2;
}

.siDetails {
  flex: 1;
}

/* Font sizes and other styles for .siTitle, .siDistance, etc. */

/* Responsive Adjustments */

/* Tablet and Smaller Devices */
@media (max-width: 768px) {
  .searchItem {
    flex-direction: column;
    align-items: center;
  }

  .siImg {
    width: 80%;
    height: auto;
  }

  .siDesc, .siDetails {
    width: 80%;
  }
}

/* Mobile Devices */
@media (max-width: 425px) {
  .siImg {
    width: 100%;
  }

  .siDesc, .siDetails {
    width: 100%;
    text-align: center;
  }

  /* Adjust font sizes if necessary */
}
