//CSS just for Header Section

$dashboardHeaderSection :rgb(248,249,250);
$colorButtonHome :rgb(170,60,250);

.headerSection{
    text-transform: capitalize;
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    background-color:white;
    position: sticky;
    top: 0;
    
    .leftSiteHeader { 
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .welcomeUser { 
            width: 35%;
            display: flex;
            flex-direction: row;
            gap: 5%;
            .welcomePhrase { 
                width: 85%;
            }
        }
        .searchBar { 
            width: 35%;
            .searchForm {
                width: 100%;
                position: relative;
                .searchInput { 
                    
                    border-radius: 10px;
                    background-color: rgb(248,249,250);
                    border: none;
                    padding: 2%;
                    
                }
                .searchIcon { 
                    position:absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    cursor: pointer;
                }

            }

        }

    }
    .rigthSiteHeader {
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icons { 
            width: 40%;
            display: flex;
            gap: 5px;
            align-items: center;
            img { 
                cursor: pointer;
                padding: 2%;
                
            }
            
        } 
        .userLogged { 
            cursor: pointer;
            width: 40%;
            display: flex;
            align-items: center;
            
            img { 
                background-color: rgb(248,249,250);
                border-radius: 50%;
                padding: 1%;
            }
            .homeAccess { 
                background-color: $colorButtonHome;
                color: white;
                padding: 8px;
            }
            .homeAccess:hover {
                background-color: darken($colorButtonHome, $amount: 20%);
            }
            
        }

    }
}
