.navbar{
    height: 50px;
    background-color: blueviolet;
    display: flex;
    justify-content: center !important;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    width: 80px;
    height: 30px;
  }
  .logo:hover{
    background-color: rgb(194, 184, 184);
    color: rgb(128, 9, 240);
    transition: 0.5s;
  }
  .logoutBtn{
    padding: 3px;
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;

  }
  .logoutBtn:hover{
    background-color: rgb(134, 47, 169);
  }

  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    background-color: transparent;
  }
  .navButton:hover{
    background-color: rgba(255,255,255,.3);
    color: black;
    transition: 0.6s;
  }