.navbar{
  background-color: blueviolet;
  display: flex;
  justify-content: center; 
  align-items: center;

}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo{
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  transition: 0.5s; 
}
.logo:hover{
  background-color: rgb(194, 184, 184);
  color: rgb(128, 9, 240);
}

.logoutBtn{
  padding: 10px 20px;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  transition: 0.5s; 
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
}
.logoutBtn:hover{
  background-color: rgb(134, 47, 169);
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  transition: 0.6s; 
}
.navButton:hover{
  background-color: rgba(255,255,255,.3);
  color: black;
}

.create-btn{
  border: none;
  width: 230px;
  align-items: center;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.6s; 
}
.create-btn:hover{
  background-color: rgb(102, 27, 172);
  color: black;
}

.nav-button {
  display: flex;
  justify-content: end;
  align-items: center;
}