.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footerList {
  list-style: none;
  padding: 0;
}

.footerListItems {
  color: blueviolet;
  margin-bottom: 10px;
  cursor: pointer;
}

.footerText {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

/* Responsive Adjustments */

/* Tablet and Smaller Devices (e.g., width <= 768px) */
@media (max-width: 768px) {
  .footerLists {
    flex-direction: column;
    align-items: center;
  }

  .footerList {
    margin-bottom: 20px;
  }
}

/* Mobile Devices (e.g., width <= 425px) */
@media (max-width: 425px) {
  .footer {
    padding: 20px;
  }

  .footerListItems {
    font-size: 0.9rem;
  }
}
