.footer {
  width: 100%; 
  /* max-width: 1024px; */
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 20px;
  /* margin-left: 50px; */
  align-items: center;
  background-color: rgb(199, 168, 168);
  
}

.footerLists {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.footerList {
  list-style: none;
   padding: 0; 
}

.footerListItems {
  color: black;
  margin-bottom: 10px;
  cursor: pointer;
}

.footerText {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.footer-first{
  text-decoration: underline;
  font-weight: 800;
 
}
/* Responsive Adjustments */

/* Tablet and Smaller Devices (e.g., width <= 768px) */
@media (max-width: 768px) {
  .footerLists {
    flex-direction: column;
    align-items: center;
  }

  .footerList {
    margin-bottom: 20px;
  }
}

/* Mobile Devices (e.g., width <= 425px) */
@media (max-width: 425px) {
  .footer {
    padding: 20px;
  }

  .footerListItems {
    font-size: 0.9rem;
  }
}
