.formRegister {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}
.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.formRegister p {
  text-align: center;
}
.formRegister h1 {
  text-align: center;
}
form {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.fullName {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#nameFL {
  width: 48%;
}
.buttonsRegister {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#btn-ChangeMethod {
  width: 45%;
}
#btn-CreateAccount {
  width: 45%;
}
